<div class="header">
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <img src="assets/images/logo.png" alt="">
        </div>
        <div class="col-5"></div>
        <div class="col-5">
            <ul class="nav">
                <li class="nav-item"><a href="" class="nav-link">Dashboard</a></li>
                <li class="nav-item"><a href="" class="nav-link">Project</a></li>
                <li class="nav-item"><a href="" class="nav-link">Docments</a></li>
                <li class="nav-item"><a href="" class="nav-link">John Micheal</a></li>
                <li class="nav-item"><a href="" class="nav-link"><img src="assets/images/user.png" alt=""></a></li>
             
            </ul>
        </div>
    </div>
</div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <!--<canvas class="mar1" id="pieChart" width="200" height="200"></canvas> -->
            <p-chart type="doughnut" [data]="data" > </p-chart> 
        </div>
        <div class="col">
            <div class="box">
<div class="box-strip">
    <div class="box-strip-text color1"> {{ labletext[0] }}</div>
    <div class="box-strip-angle color1"></div>
</div>
<div class="box-mid">
    <span class="box-mid-text1">{{ details[0] }}</span>
</div>
<div class="box-text"> 
    Members Joined
</div>
            </div>
        </div>
        <div class="col">
            <div class="box">
                <div class="box-strip">
                    <div class="box-strip-text color2"> {{ labletext[1] }}</div>
                    <div class="box-strip-angle color2"></div>
                </div>
                <div class="box-mid">
                    <span class="box-mid-text2">{{ details[1] }}</span>
                </div>
                <div class="box-text"> 
                    Members Joined
                </div>
                     
            </div>
        </div>
        <div class="col">
            <div class="box">
                <div class="box-strip">
                    <div class="box-strip-text color3"> {{ labletext[2] }}</div>
    <div class="box-strip-angle color3"></div>
                </div>
                <div class="box-mid">
                    <span class="box-mid-text3">{{ details[2] }}</span>
                </div>
                <div class="box-text"> 
                    Members Joined
                </div>
                     
            </div>
        </div>
        <div class="col">
            <div class="box">
                <div class="box-strip">
                    <div class="box-strip-text color4"> {{ labletext[3] }}</div>
    <div class="box-strip-angle color4"></div>
                </div>
                <div class="box-mid">
                    <span class="box-mid-text4">{{ details[3] }}</span>
                </div>
                <div class="box-text"> 
                    Members Joined
                </div>
                     
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col">
            <table datatable [dtOptions]="dtOptions" class="row-border hover"></table>
        </div>
    </div>
</div>